@CHARSET "UTF-8";


.wrapper {
	width: 100%;
	height: 1px;
	position: relative;
	-webkit-transition: height .5s ease-in-out;
	background-color: #ffffff;
}

.divwrapper {
	background-color: #ffffff;
	text-align: left;
}